body {
  background-color: rgb(194, 224, 241);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form {
  width: 40rem;
  margin: auto;
  background-color: rgb(234, 246, 252);
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
  border-radius: 6px;
}

label {
  color: rgb(66, 76, 97);
  display: block;
  margin: 0.5rem 0;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(152, 159, 184);
  padding: 0.5rem;
  color: rgb(61, 58, 58);
}

input:focus,
textarea:focus {
  background-color: rgb(217, 227, 247);
}

button {
  font: inherit;
  display: block;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-filled {
  background-color: rgb(51, 67, 100);
  color: white;
}

.btn-empty {
  background-color: transparent;
  color: black;
}

.btn-filled:hover {
  background-color: rgb(69, 89, 129);
  border-color: rgb(69, 89, 129);
}

.btn-empty:hover {
  background-color: rgb(208, 215, 230);
}

button:hover {
  background-color: rgb(86, 25, 156);
  border-color: rgb(86, 25, 156);
}

#form-actions {
  display: flex;
  text-align: right;
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

.form-control-inline label {
  margin: 0;
  margin-left: 0.5rem;
}

section {
  margin-bottom: 1rem;
}
